<mat-card class="main-card">
  <mat-card-header>
    <div mat-card-avatar class="main-page-image"></div>
    <mat-card-title>Weight Tracker</mat-card-title>
    <mat-card-subtitle>Application for tracking your weight</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      This application helps in tracking your weight throught your journey.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button  mat-raised-button>Sign up</button>
    <button mat-button (click)="signin()">Sign in</button>
  </mat-card-actions>
</mat-card>
