<mat-drawer-container [hasBackdrop]="true" class="example-container" *ngIf="user">
  <mat-drawer #drawer mode="side">
    <mat-card class="dashboard-card">
      <mat-card-header>User Information</mat-card-header>
        <button mat-button *ngIf="!calc" (click)="calculateBMI()">Calculate BMI</button>
      <div  *ngIf="calc">
        <label>BMI: </label>
        {{this.userBMI + 'kg/m2'}}
      </div>
      <p></p>
      <button mat-icon-button *ngIf="calc" (click)="refreshBMI()"><mat-icon>refresh</mat-icon></button>
      <p></p>
      <button mat-button (click)="showUserData()">Show Data History</button>
    </mat-card>
  </mat-drawer>

  <mat-drawer-content>
    <mat-card>
    <mat-toolbar color="accent">
      <button mat-icon-button mat-raised-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="menu-spacer"></span>
      <span>Tracker Application</span>
      <span class="example-spacer"></span>
      <button mat-icon-button  [matMenuTriggerFor]="account" aria-label="Account icon with a menu">
        <mat-icon>face</mat-icon>
      </button>
      <mat-menu #account="matMenu">
        <button mat-menu-item (click)="openUserProfile()">
          <mat-icon>face</mat-icon>
          <span>Profile</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </mat-toolbar>
      <button mat-fab class="add-button" color="accent" (click)="addWeight()"><mat-icon color="primary" matTooltip="Add your data">add</mat-icon></button>
    </mat-card>

    <div *ngIf="showData">
     <app-userweightdata *ngIf="showData"></app-userweightdata>
    </div>
  </mat-drawer-content>
</mat-drawer-container>


