<mat-error *ngIf="errorMessage">{{errorMessage}}</mat-error>
<mat-vertical-stepper #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Personal Information</ng-template>
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput [(ngModel)]="userProfile.firstName"  [ngModelOptions]="{standalone: true}" >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput [(ngModel)]="userProfile.lastName"  [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <br>

      <mat-form-field appearance="fill" >
        <mat-label>Role</mat-label>
        <mat-select [(ngModel)]="userProfile.role" [ngModelOptions]="{standalone: true}">
          <mat-option *ngFor="let unit of roles"
                      [value]="unit.value">
            {{unit.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Email Id</mat-label>
        <input type="email" matInput [(ngModel)]="userProfile.emailId"  [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Set up a Password</mat-label>
        <input type="password" matInput [(ngModel)]="userProfile.password" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Enter your Password again</mat-label>
        <input type="password" matInput [(ngModel)]= "rePassword" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <div>
        <button mat-button matStepperNext (click)="checkPasswords()">Next</button> &nbsp;
        <button mat-button matDialogClose>Close</button>
      </div>
    </form>

  </mat-step>

  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Additional Information</ng-template>
      <mat-form-field>
        <mat-label>Height in cm</mat-label>
        <input matInput [(ngModel)]="userProfile.height"  [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button> &nbsp;
        <button mat-button matDialogClose>Close</button>&nbsp;
        <button mat-button (click)="signUp()">Sign Up</button>
      </div>
    </form>
  </mat-step>
</mat-vertical-stepper>
