<div *ngIf="userData" class="data-div">
  <table mat-table [dataSource]="userData" class="mat-elevation-z8">
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let weight">{{indexOf(weight)}}</td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let weight">{{weight.date}}</td>
    </ng-container>
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef>Weight</th>
      <td mat-cell *matCellDef="let weight"> <span class="edit-weight" (click)="editWeight(weight)">{{weight.weight}} {{weight.unit}}</span></td>
    </ng-container>
    <ng-container matColumnDef="bmi">
      <th mat-header-cell *matHeaderCellDef>BMI</th>
      <td mat-cell *matCellDef="let weight">{{getBMI(weight.weight, weight.unit)}}</td>
    </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
  </table>
</div>
