<mat-card class="main-card" *ngIf="!logged">
  <mat-card-header>
    <div mat-card-avatar class="main-page-image"></div>
    <mat-card-title>Weight Tracker</mat-card-title>
    <mat-card-subtitle>Application for tracking your weight</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      This application helps in tracking your weight throught your journey.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button  mat-raised-button (click)="signup()">Sign up</button>
    <button mat-button (click)="openDialog(signInTemplate)">Sign in</button>

    <ng-template #signInTemplate>
      <h1>Sign In</h1>
      <span></span>
      <mat-form-field> Enter your email id:
        <input matInput type="email" [(ngModel)]="emailId"  (keyup.enter)="signIn()">
        <p *ngIf="loginError"></p>
        <mat-error *ngIf="loginError">{{errorMsg}}</mat-error>
      </mat-form-field>
      <button mat-button (click)="signIn()"> Sign In</button> &nbsp;
      <button mat-button matDialogClose>Close</button>
    </ng-template>
  </mat-card-actions>
</mat-card>


<app-tracker-application *ngIf="logged"></app-tracker-application>
